@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
/* font-family: 'Sarala', sans-serif; */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(45deg, #2F2325, #8E5D52);
}
h1{
    font-family: 'Righteous', cursive;
    font-weight: normal;
}
